.fa.fa-kaniko {
    width: 44px;
    background: url('https://gitlab.com/uploads/-/system/project/avatar/22284858/kaniko.png');
    background-size: contain;
    background-repeat: no-repeat;
}
